@{
    var lang = @HttpContext.Current.Request.Cookies["lang"].Value;
    var dir = lang == "en" ? "ltr" : "rtl";
    var langRev = lang == "en" ? "ar" : "en";
}

<!DOCTYPE html>
<html lang="@lang" dir="@dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/3.33/esri/css/esri.css" />
    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body onload="initApp()" dir="@dir" class="@lang">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo"><img src="~/Content/images/logo-yl-web.png" /></div>

                @*<ul class="">
                        <li>
                            @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en" }, null)
                            <a href="#" data-locale="en">English</a>
                        </li>
                        <li>
                            @Html.ActionLink("العربية", "ChangeCulture", "Home", new { lang = "ar" }, null)
                            <a href="#" data-locale="ar">Arabic</a>
                        </li>
                    </ul>*@
            </div>
            <div><a href="/Home/ChangeCulture?lang=@langRev"><img src="~/Content/images/langswitch.png" /></a></div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="menu">
        <div class="hamburger" onclick="toggleMenu()"><img src="~/Content/images/menu.svg" /></div>
        <div class="menu-items">
            <ul>
                <li onclick="togglePanel('hotel')" id="hotel"><img src="~/Content/images/hotel.svg" /></li>
                <li onclick="togglePanel('busroute')" id="busroute"><img src="~/Content/images/electric-bus.svg" /></li>
                <li onclick="togglePanel('salah')" id="salah"><img src="~/Content/images/mosque.svg" /></li>
                <li onclick="togglePanel('taxi')" id="taxi"><img src="~/Content/images/taxi.svg" /></li>
                <li onclick="togglePanel('weather')" id="weather"><img src="~/Content/images/jotta-cloud.svg" /></li>
                <li onclick="togglePanel('rules')" id="rules"><img src="~/Content/images/rules.svg" /></li>
                <li onclick="togglePanel('history')" id="history"><img src="~/Content/images/factory.svg" /></li>
                <li onclick="togglePanel('news')" id="news"><img src="~/Content/images/news-admin.svg" /></li>
                <li onclick="togglePanel('emergency')" id="emergency"><img src="~/Content/images/alarm.svg" /></li>
                <li onclick="togglePanel('currency')" id="currency"><img src="~/Content/images/exchange.svg" /></li>
                <li onclick="togglePanel('poi')" id="poi"><img src="~/Content/images/marker.svg" /></li>
                <li onclick="togglePanel('gallery')" id="gallery"><img src="~/Content/images/image-gallery.svg" /></li>
            </ul>
        </div>
    </div>

    <div class="layers-ddl">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select map layer
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="layers-list" id="map-layers-list-dd">
                </ul>
            </div>
        </div>
    </div>

    <div class="popup hotel-popup">
        <div class="title">
            <span data-i18n="Hotel_Details"></span>
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th data-i18n="Name"></th>
                    <th data-i18n="Contact"></th>
                    <th data-i18n="Address"></th>
                    <th data-i18n="View"></th>
                </tr>
            </thead>
        </table>
        <div class="content">
            <table class="table table-hover">

                <tbody id="hotel_details_tbl_body">
                </tbody>
            </table>
        </div>
    </div>

    <div class="popup salah-popup">
        <div class="title">
            <span data-i18n="Salah_Timings"></span>
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="row">
                <div class="col">
                    <span class="icon"><img src="~/Content/images/clock.svg" /></span>
                    <span class="salahname" data-i18n="Imsak"></span>
                    <span class="time" id="Imsak"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/sunrise.svg" /></span>
                    <span class="salahname" data-i18n="Sunrise"></span>
                    <span class="time" id="Sunrise"></span>
                </div>
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/sunset.svg" /></span>
                    <span class="salahname" data-i18n="Sunset"></span>
                    <span class="time" id="Sunset"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/pray.svg" /></span>
                    <span class="salahname" data-i18n="Fajr"></span>
                    <span class="time" id="Fajr"></span>
                </div>
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/pray.svg" /></span>
                    <span class="salahname" data-i18n="Maghrib"></span>
                    <span class="time" id="Maghrib"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/pray.svg" /></span>
                    <span class="salahname" data-i18n="Dhuhr"></span>
                    <span class="time" id="Dhuhr"></span>
                </div>
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/pray.svg" /></span>
                    <span class="salahname" data-i18n="Isha"></span>
                    <span class="time" id="Isha"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/pray.svg" /></span>
                    <span class="salahname" data-i18n="Asr"></span>
                    <span class="time" id="Asr"></span>
                </div>
                <div class="col-6">
                    <span class="icon"><img src="~/Content/images/half-moon.svg" /></span>
                    <span class="salahname" data-i18n="Midnight"></span>
                    <span class="time" id="Midnight"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="popup busroute-popup">
        <div class="title">
            <span data-i18n="busroute"></span>
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="accordion" id="accordionExample">

            </div>
        </div>
    </div>

    <div class="popup currency-popup">
        <div class="title">
            <span data-i18n="currency_exchange"></span>
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-5">
                            <select class="form-control" id="from_currency_dd">
                            </select>
                        </div>
                        <div class="col-2">
                            <img src="~/Content/images/exchange2.svg" style="height: 41px;" />
                        </div>
                        <div class="col-5">
                            <select class="form-control" id="to_currency_dd">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pricecalc">
                            1 <span id="from_currency_id"></span> = <span id="current_currency_value"></span> <span class="to_currency_id"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <input type="number" class="form-control" value="1" id="input_currency_tf" min="0" />
                </div>
                <div class="col-2">
                    <i class="fas fa-equals"></i>
                </div>
                <div class="col-5">
                    <span id="input_currency_value"></span> <span class="to_currency_id"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="popup weather-popup">
        <div class="title">
            <span data-i18n="Yanbu_Weather"></span>
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="row" style="margin-bottom:20px">
                <div class="col-3">
                    <div class="degree" id="temperature"></div>
                    <div class="temperature" id="weather_descriptions"></div>
                </div>
                <div class="col-3 degtempimage" id="weather_icons">

                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="~/Content/images/exchange2.svg" />
                    <div data-i18n="feels_like"></div>
                    <div class="font-weight-bold" id="feelslike"></div>
                </div>
                <div class="col-4">
                    <img src="~/Content/images/exchange2.svg" />
                    <div data-i18n="pressure"></div>
                    <div class="font-weight-bold" id="pressure"></div>
                </div>
                <div class="col-4">
                    <img src="~/Content/images/exchange2.svg" />
                    <div data-i18n="humidity"></div>
                    <div class="font-weight-bold" id="humidity"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="~/Content/images/exchange2.svg" />
                    <div data-i18n="wind"></div>
                    <div class="font-weight-bold" id="wind"></div>
                </div>
                <div class="col-4">
                    <img src="~/Content/images/exchange2.svg" />
                    <div data-i18n="visibility"></div>
                    <div class="font-weight-bold" id="visibility"></div>
                </div>
                <div class="col-4">
                    <img src="~/Content/images/exchange2.svg" />
                    <div data-i18n="cloud"></div>
                    <div class="font-weight-bold" id="cloudcover"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup taxi-popup">
        <div class="title">
            <span data-i18n="City_Taxi"></span>
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th data-i18n="Name"></th>
                    <th data-i18n="Contact"></th>
                </tr>
            </thead>
        </table>
        <div class="content">
            <table class="table table-hover table-sm">
                <tbody id="taxi_tbl_body">
                </tbody>
            </table>
        </div>
    </div>

    <div class="popup rules-popup">
        <div class="title">
            Rules & Regulations
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="rule-item">
                <div>Building Regulation</div>
                <div>
                    Building Regulation.pdf
                    <img src="~/Content/images/download.svg" onclick="" />
                </div>
            </div>
            <div class="rule-item">
                <div>Building Regulation</div>
                <div>
                    Building Regulation.pdf
                    <img src="~/Content/images/download.svg" />
                </div>
            </div>
        </div>
    </div>

    <div class="popup history-popup">
        <div class="title">
            MYAS History
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-7">
                    Madinat Yanbu Al Sinaiyah (MYAS) is located about 350km North West of Jeddah. Yanbu is a port city on the western Red Sea coast of Saudi Arabia. A growing industrial and development town re created since 1975 out of the oil wealth of the kingdom. Yanbu has ancient roots in the Red Sea trading and pilgrimage routes. The city is famous for its role during the spread of Islam as well as its contribution to the Arab Revolt against Ottomans during World War I.
                </div>
                <div class="col-5 center">
                    <img src="~/Content/images/Image1.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-5 center">
                    <img src="~/Content/images/Image2.png" />
                </div>
                <div class="col-7">
                    The city’s story begins around an oasis of springs some 30 miles inland from the Red Sea coast up the Wadi Al Yanbu, underneath the Al Hijaz (or As-Sarat) mountains. This oasis, known as Yanbu and is located on one of only six passes through Al-Hijaz (the barrier) mountains, which connect Madinah to the Red Sea. The export of dates from the oasis, travelers heading from the coast of Madinah, and the flow of water down the Wadi to the sea all contributed to human settlement around the natural harbor, which became known as Yanbu Al Bahr (Yanbu-on-the-sea).
                </div>
            </div>
        </div>
    </div>

    <div class="popup news-popup">
        <div class="title">
            News & Events
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">News</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Events</a>

                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                </div>

            </div>

        </div>
    </div>

    <div class="popup emergency-popup">
        <div class="title">
            Emergency Servicies
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <div class="item-title">
                Health
                <img src="~/Content/images/heart.svg" />
            </div>
            <div class="emergency-items">
                <div class="row">
                    <div class="col-6">
                        Emergency Services
                    </div>
                    <div class="col-6">
                        2342332
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Ambulance
                    </div>
                    <div class="col-6">
                        2342332
                    </div>
                </div>
            </div>
            <div class="item-title">
                Safety Department
                <img src="~/Content/images/helmet.svg" />
            </div>
            <div class="emergency-items">
                <div class="row">
                    <div class="col-6">
                        Fire Department
                    </div>
                    <div class="col-6">
                        2342332
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Police Department
                    </div>
                    <div class="col-6">
                        2342332
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Police Department
                    </div>
                    <div class="col-6">
                        2342332
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup poi-popup">
        <div class="title">
            News & Events
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-poi-tab" data-toggle="tab" href="#nav-poi" role="tab" aria-controls="nav-poi" aria-selected="true">POI</a>
                    <a class="nav-item nav-link" id="nav-kiosk-tab" data-toggle="tab" href="#nav-kiosk" role="tab" aria-controls="nav-kiosk" aria-selected="false">KIOSK</a>

                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-poi" role="tabpanel" aria-labelledby="nav-poi-tab">
                    <div class="poi-items">
                        No Type
                    </div>
                    <div class="poi-items">
                        No Type
                    </div>
                    <div class="poi-items">
                        No Type
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-kiosk" role="tabpanel" aria-labelledby="nav-kiosk-tab">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#machine1" aria-expanded="true" aria-controls="{{routeNmae}}-{{RouteID}}">
                                    Machine
                                </button>
                            </h2>
                        </div>

                        <div id="machine1" class="collapse show" aria-labelledby="machine">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div>
                                            Location name: Yanbu
                                        </div>
                                        <div>
                                            IP Address: 10.3.23.2
                                        </div>
                                        <div>
                                            SR: 01
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button class="viewbtn" type="button" onclick="onBusRouteClick(2, 'Start-2', 'End-2')">Map View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="popup gallery-popup">
        <div class="title">
            RYC Gallery
            <span class="close-btn" onclick="closePopup()"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="content">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-image-tab" data-toggle="tab" href="#nav-image" role="tab" aria-controls="nav-image" aria-selected="true">Image</a>
                    <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">Video</a>

                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab">
                  <div class="image-gallery">
                      <div class="row">
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div>
                          <div class="col-3">
                              <img src="~/Content/images/gallery-1.png" />
                          </div> 
                      </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#machine1" aria-expanded="true" aria-controls="{{routeNmae}}-{{RouteID}}">
                                    Machine
                                </button>
                            </h2>
                        </div>

                        <div id="machine1" class="collapse show" aria-labelledby="machine">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div>
                                            Location name: Yanbu
                                        </div>
                                        <div>
                                            IP Address: 10.3.23.2
                                        </div>
                                        <div>
                                            SR: 01
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button class="viewbtn" type="button" onclick="onBusRouteClick(2, 'Start-2', 'End-2')">Map View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="map-container">

    </div>

    <script id="hotel_row" type="text/template">
        <tr>
            <td>{{hotelname}}</td>
            <td>{{contact}}</td>
            <td>{{address}}</td>
            <td><button class="viewbtn" type="button" onclick="onHotelClick({{hotelID}}, {{lat}}, {{lon}}, '{{hotelname}}' )">Map View</button></td>
        </tr>
    </script>

    <script id="map-layer-dd-entry" type="text/template">
        <li>
            <div class="icon"><img src="{{iconUrl}}" /></div>
            <div class="title">{{layerName}}</div>
            <div class="toggle-btn">
                <div class="toggle-button-cover">
                    <div class="button-cover">
                        <div class="button r" id="button-1">
                            <input {{checked}} id="{{layerName}}CB" type="checkbox" class="checkbox" onchange="toggleLayer(this, '{{layerName}}', {{Id}})">
                            <div class="knobs"></div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </script>

    <script id="bus_route_entry" type="text/template">
        <div class="card">
            <div class="card-header" id="{{routeNmae}}-{{RouteID}}-heading">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{routeNmae}}-{{RouteID}}" aria-expanded="true" aria-controls="{{routeNmae}}-{{RouteID}}">
                        {{routeNmae}}
                    </button>
                </h2>
            </div>

            <div id="{{routeNmae}}-{{RouteID}}" class="collapse show" aria-labelledby="{{routeNmae}}-{{RouteID}}-heading">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span class="icon"><img src="/Content/images/gps.svg" /></span>
                            <span class="font-weight-bold">Source</span>
                            <span class="time">{{Start}}</span>
                        </div>
                        <div class="col-6">
                            <span class="icon"><img src="/Content/images/finish.svg" /></span>
                            <span class="font-weight-bold">Destination</span>
                            <span class="time">{{End}}</span>
                        </div>
                    </div>

                    <div class="row" style=" margin-top: 25px; margin-bottom: 13px; ">
                        <div class="col">
                            <span class="font-weight-bold">Route: </span>
                            <ul class="bus-stops">
                                {{bus-stops}}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="font-weight-bold">Total Distance: </span>
                            <span class="font-weight-bold">{{TotalDistance}}</span>
                        </div>
                        <div class="col-6">
                            <button class="viewbtn" type="button" onclick="onBusRouteClick({{RouteID}}, '{{Start}}', '{{End}}')">Map View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="news-entry" type="text/template">
        <div class="news-item">
            <div class="row">
                <div class="col-4">
                    <img src="{{IMAGE_URL}}" />
                    <div class="datestamp">{{NEWS_DATE}}</div>
                </div>
                <div class="col-8">
                    <h1>{{NEWS}}</h1>
                    <div>{{DESCRIPTION}}</div>
                </div>
            </div>
        </div>
    </script>

    <script id="events-entry" type="text/template">
        <div class="news-item">
            <div class="row">
                <div class="col-4">
                    <img src="{{PICTURE_URL}}" />
                    <div class="datestamp">{{EVENT_DATE}}</div>
                </div>
                <div class="col-8">
                    <h1>{{NAME}}</h1>
                    <div>{{DESCRIPTION}}</div>
                </div>
            </div>
        </div>
    </script>

    @RenderBody()

    <script type="text/javascript">
        var baseAPIsURL = '@System.Configuration.ConfigurationManager.AppSettings["APIsBaseURL"]';
        var lang = '@lang';
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://js.arcgis.com/3.33/"></script>
    @Scripts.Render("~/bundles/app-scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
