@{
    var lang = @HttpContext.Current.Request.Cookies["lang"].Value;
}

<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/3.33/esri/css/esri.css" />
    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo"><img src="~/Content/images/logo-yl-web.png" /></div>
                @*<ul class="">
                    <li>
                        @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en" }, null)
                        <a href="#" data-locale="en">English</a>
                    </li>
                    <li>
                        @Html.ActionLink("العربية", "ChangeCulture", "Home", new { lang = "ar" }, null)
                        <a href="#" data-locale="ar">Arabic</a>
                    </li>
                    </ul>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="menu">
        <div class="hamburger" onclick="toggleMenu()"><img src="~/Content/images/menu.svg" /></div>
        <div class="menu-items">
            <ul>
                <li onclick="hotelClick()"><img src="~/Content/images/hotel.svg" /></li>
                <li><img src="~/Content/images/electric-bus.svg" /></li>
                <li><img src="~/Content/images/mosque.svg" /></li>
                <li><img src="~/Content/images/taxi.svg" /></li>
                <li><img src="~/Content/images/jotta-cloud.svg" /></li>
                <li><img src="~/Content/images/rules.svg" /></li>
                <li><img src="~/Content/images/factory.svg" /></li>
                <li><img src="~/Content/images/map.svg" /></li>
                <li><img src="~/Content/images/alarm.svg" /></li>
                <li><img src="~/Content/images/exchange.svg" /></li>
            </ul>
        </div>
    </div>

    <div class="layers-ddl">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select map layer
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="layers-list">
                    <li>
                        <div class="icon"><img src="~/Content/images/bank.svg" /></div>
                        <div class="title">Bank</div>
                        <div class="toggle-btn">
                            <div class="toggle-button-cover">
                                <div class="button-cover">
                                    <div class="button r" id="button-1">
                                        <input type="checkbox" class="checkbox" onchange="toggleLayer(event,'bank')">
                                        <div class="knobs"></div>
                                        <div class="layer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="~/Content/images/sleep.svg" /></div>
                        <div class="title">Hotels</div>
                        <div class="toggle-btn">
                            <div class="toggle-button-cover">
                                <div class="button-cover">
                                    <div class="button r" id="button-1">
                                        <input type="checkbox" class="checkbox" onchange="toggleLayer(event,'hotel')">
                                        <div class="knobs"></div>
                                        <div class="layer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="~/Content/images/fuel.svg" /></div>
                        <div class="title">Fuel Station</div>
                        <div class="toggle-btn">
                            <div class="toggle-button-cover">
                                <div class="button-cover">
                                    <div class="button r" id="button-1">
                                        <input type="checkbox" class="checkbox" onchange="toggleLayer(event,'fuel')">
                                        <div class="knobs"></div>
                                        <div class="layer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="~/Content/images/XMLID_125_.svg" /></div>
                        <div class="title">Hospitals</div>
                        <div class="toggle-btn">
                            <div class="toggle-button-cover">
                                <div class="button-cover">
                                    <div class="button r" id="button-1">
                                        <input type="checkbox" class="checkbox" onchange="toggleLayer(event,'hospitals')">
                                        <div class="knobs"></div>
                                        <div class="layer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="popup detail-popup">
        <div class="title" data-i18n="Hotel_Details">
        </div>
        <div class="content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th data-i18n="Name"></th>
                        <th data-i18n="Contact"></th>
                        <th data-i18n="Address"></th>
                        <th data-i18n="View"></th>
                    </tr>
                </thead>
                <tbody id="hotel_details_tbl_body">
                </tbody>
            </table>
        </div>
    </div>

    <div id="map-container">

    </div>

    <script id="hotel_row" type="text/template">
        <tr>
            <td>{{hotelname}}</td>
            <td>{{contact}}</td>
            <td>{{address}}</td>
            <td><button class="viewbtn" type="button" onclick="onHotelClick({{hotelID}}, {{lat}}, {{lon}})">Map View</button></td>
        </tr>
    </script>

    @RenderBody()

    <script type="text/javascript">
        var baseAPIsURL = '@System.Configuration.ConfigurationManager.AppSettings["APIsBaseURL"]';
        var lang = '@lang';
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://js.arcgis.com/3.33/"></script>
    @Scripts.Render("~/bundles/app-scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
